$white: #FFFFFF;
$font_color:#777777;
$background_color:#EEEEEE;
$launcingSoon_color: #FF3998;
$singup_color: #FF3998;

@mixin container {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
  
@mixin launSoon {
    text-transform: uppercase;
    color: $launcingSoon_color;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

@mixin button {
    width: 12rem;
    height: 5rem;
    font-weight: 700;
    border: 3px solid transparent;
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    background: none;
}

@mixin buttonAfter {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 5rem;
    padding: 0.3rem; 
    background: linear-gradient(45deg, #FF4A76, #CCB371);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

@mixin split {
    display: block;
    margin-before: 0.5em; 
    margin-after: 0.5em; 
    margin-start: auto; 
    margin-end: auto; 
    overflow: hidden; 
    border: 0.05rem inset rgba($color: $background_color, $alpha: 0.5);
}
body {
    font-family: Inter, sans-serif;    
    height: 3300px;
    max-width: 100%;
    // width: 100%;
    background: $background_color;
    // overflow-x: hidden;
}
.mainContainer {
    display: flex;
    flex-direction: column;   
    max-width: 428px;
    min-width: 100px;
    border-radius: 1rem; 
    box-shadow: 0 0 3rem rgba($color: #000000, $alpha: 0.5);
    background: $white;
    overflow: hidden;
}
.container {
    @include container();
}
.navbar {    
    display: flex;    
    justify-content: space-between;
    width: 100%;
    color: $font_color;
    .navbar-colapse {
        display: none;
    }    
    i {        
        font-size: 2rem;
        color: $font_color;
    }    
    button {
        background-color: $white ;
        border: none;        
    }
    
}

.container_1 {   
    .picture_1 {
        position: absolute;
        top:-3rem;
        left: 11rem;        
        height: 30rem;             
    }
    .launcingSoon {        
            @include launSoon;        
    }
    h1 {
        font-family:Helvetica, sans-serif;
        font-weight: 900;
        font-size: 2.5rem;
        width: 18rem;
        
    }
    p { 
        color: $font_color;         
        width: 16rem;
        line-height: 2rem;
        font-size: 1.2rem;
    }
    button {        
        @include button();
    }
    button::before {
        @include buttonAfter();        
    }
}

.container_2 {    
    height: 16rem;
    background: linear-gradient(90deg, #FF7F77, #CCB371);        
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    justify-content: flex-end;
    h3 {
        font-size: 2.4rem;
        margin-bottom: 0;
    }
    p {
        font-size: 1.2rem;
        line-height: 2rem;
    }

}
.companies {
    padding-top: 2rem;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;    
    img {
        width: 10rem;
        height: 4rem;
        justify-self:center;
        
    }
    .compa_1 {
        grid-area: 1 / 1;        
        width: 13rem;                
        object-fit: cover;
        object-position: left;
    }
    .compa_2 {
        grid-area: 1 / 2;
    }
    .compa_3 {
        grid-area: 2 / 1;
    }
    .compa_5 {
        grid-area: 2 / 2;
    }
    .compa_4 {
        display: none;
    }
}
.container_3 {
    // @include container();
    h3 {
        font-size: 2.4rem;
        margin-bottom: 0;
    }
    p {
        font-size: 1.2rem;
        color: $font_color;
        line-height: 2rem;
        a {
            color: $font_color;
            font-weight: 600;
        }
    }
    .nftCards {
        display: flex;
        margin: 1.5rem 0 3rem 0;        
        width: 100%;
        justify-content: left;
        .nftCard {
            margin-right: 2rem;
            background-color: #EEEEEE;
            border-radius: 1rem;
            div {
                display: flex;
            }
            table {
                width: 100%;
                padding: 1rem;
                th:first-child {
                    color:#FF8139;                     
                }
                th {
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    font-weight: 400;
                    text-align: left;
                }
                th:last-child, td:last-child{
                    text-align: right;
                }
                tfoot{
                    color: $font_color;
                }
                td {
                    font-weight: 600;
                    font-size: 1.1rem;
                    padding: 0.5rem 0 0.3rem 0;
                }
            }
        }
    }
}

.split {
    @include split();
}
.container_4 {
    // @include container();
    .launcingSoon{        
            @include launSoon();        
    }
    h2 {
        font-family: Helvetica, sans-serif;
        font-size: 4rem;
        font-weight: 900;
        width: 18rem;
        margin: 0.5rem 0 3rem 0;
        
    }
    .picture_1 {
        position: absolute;
        top: 9.3rem;
        left: 17rem;        
        height: 30rem;             
    }
    p { 
        color: $font_color;         
        width: 14rem;
        line-height: 2rem;
        font-size: 1.2rem;
    }
    .split {
        @include split();
    }
    button {
        @include button();
        margin-bottom: 1.5rem;
    }
    button::after {
        @include buttonAfter();
    }
    .hide {
        display: none;
    }

}
.container_f {
    font-size: 1rem;
    color: $font_color;
    padding-top: 5rem;
    i {
        padding: 0 0.2rem;
    }
    h5 {
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-weight: 800;
    }
    .footerNav {
        padding-top: 3rem;
        display: grid;
        grid-template: 1fr 1fr / 9rem 1fr ;    
        .nav_1 {
            grid-area: 1 / 1;
        }
        .nav_2 {
            grid-area: 1 / 2;
        }
        .nav_3 {
            grid-area: 2 / 1;
        }
        .nav_5 {
            grid-area: 2 / 2;
        }
        div {
            display: flex;
            flex-direction: column;

            a {
                padding: 0.5rem 0;
                text-decoration: none;
                color: $font_color;
            }
        }
    }

}
.copyright {
    color: $font_color;
    font-size: 1.2rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    p:last-child{
        display: none;
    }
}

@media screen and (min-width:428px) {
    .mainContainer {
        padding: 3rem 3rem 0rem 3rem;
        max-width: 1280px;
        flex: 2 1 auto;
    }   
    .navbar {
        .navbar-colapse {
            display: flex;
            flex-direction: row;
            a {
                padding: 1rem;
                text-decoration: none;
                color: $font_color;
                font-weight: 500;
                font-size: 1.1rem;
            }
            .singup {
                color: $singup_color ;
            }
        }        
        .collapsed {
            display: none;
        }
    }    
    .container_1 { 
        padding: 10rem 0;
        .launcingSoon{            
                @include launSoon();
        }    
        .picture_1 {
            position: absolute;
            top: 0;
            left: 33rem;        
            height: 55rem;             
        }
        h1 {
            font-family:Helvetica, sans-serif;
            font-weight: 900;
            font-size: 6rem;
            width: 40rem;
            margin: 2rem 0;            
        }
        p { 
            color: $font_color;         
            width: 35rem;
            line-height: 2rem;
            font-size: 1.1rem;
            padding: 0.5rem 0;
        }
    }
    .container_2 {
        background: url(/assets/background.svg);
        padding-left: 4rem;    
    }   
    .companies {
        display: flex;
        justify-content: space-between;
        padding-top: 4rem;
        .compa_4 {
            display: flex;
        }
        img {
            height: 10rem;
        }
        .compa_1 {
            grid-area: 1 / 1;                              
            object-fit: contain;            
        }
    
    
    }  
    .container_3 {
        .nftCards {            
            justify-content: left;
        }
    }
    .container_4 {
        padding: 8rem 0;
        h2 {
            font-family: Helvetica, sans-serif;
            font-size: 4rem;
            font-weight: 900;
            width: 45rem;
            margin: 1rem 0;
        }
        .picture_1 {
            position: absolute;
            top: 6.7rem;
            left: 55rem;        
            height: 30rem;             
        }
        p { 
            width: 30rem;
        }
        .split {
            display: none;
        }
        .hide {
            display: inline;
        }
    }  
    .container_f {        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.4rem;
        // padding-top: 8rem;
        .logo {
            padding-top: 2rem;
        }
        .footerNav {
            display: flex;
            flex-direction: row;            
            padding-top: 0;
            div {
                display: flex;
                flex-direction: column;
                padding-right: 4.3rem;
                h5 {
                    font-size: 1rem;
                }
                a {
                    font-size: 1.1rem;
                }
            }
        }
    
    }
    .copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $font_color;
        font-size: 1.2rem;        
        padding-left: 2rem;
        padding-right: 2rem;
        p:last-child{
            display: inline;
        }
    }
}